---
import BaseLayout from '../layouts/BaseLayout.astro'
import Masthead from '../components/Masthead.astro'
import Content from '../components/Content.astro'
import Section from '../components/Section.astro'
import Project from '../components/Project.astro'
import SeeMore from '../components/SeeMore.astro'
import Work from '../components/Work.astro'

const projects = (await Astro.glob('./projects/*.md'))
const works = (await Astro.glob('./works/*.md'))

---

<BaseLayout>
  <Masthead />
  <Content>
    <Section
      id="projects"
      title="Projects"
      subtitle={`This section is all about
            <span class="font-bold">major projects</span> that I carried out
            during my two years MMI.`}
      location={'/projects'}
    >
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          [...projects]
            .reverse()
            .slice(0, 3)
            .map(item => (
              <Project
                url={item.url ?? '/'}
                title={item.frontmatter.title}
                description={item.frontmatter.description}
                heroImage={item.frontmatter.heroImage}
              />
            ))
        }
        <SeeMore location={'/projects'} />
      </ul>
    </Section>

    <Section
      id="works"
      title="Works"
      subtitle={`Here&apos;s some <span class="font-bold">works</span>
            I&apos;ve made in web development for <span class="font-bold">business</span>
            or personal projects that I&apos;ve been working on.`}
    >
      <ul class="flex flex-col gap-4">
        {
          [...works]
            .slice(0, 2)
            .map((item, idx) => (
              <Work
                url={item.url ?? '/'}
                title={item.frontmatter.title}
                subtitle={item.frontmatter.subtitle}
                description={item.frontmatter.description}
                heroImage={item.frontmatter.heroImage}
                reverse={idx % 2 === 0}
              />
            ))
        }
        <SeeMore location={'/projects'} />
      </ul>
    </Section>

    <Section id="about" title="About me" />
  </Content>
</BaseLayout>
