---
import { Image } from '@astrojs/image/components'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Body from '../components/Body.astro'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Masthead from '../components/Masthead.astro'
import Content from '../components/Content.astro'
import { IoArrowForward } from 'react-icons/io5'

interface Project {
  id: string
  title: string
  body: string
  userId: string
  tags: string[]
  reactions: number
}

const projectsRequest = await fetch(
  'https://dummyjson.com/posts?limit=5&skip=68'
)
const projects = (await projectsRequest.json()).posts as Project[]
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-16">
      <Masthead />
      <Content>
        <section>
          <div class="flex flex-col gap-2 mb-5">
            <h1 class="text-4xl font-rubik">Projects</h1>
            <h2 class="pl-2 border-l-2 border-sky-600">
              This section is all about <span class="font-bold"
                >major projects</span
              > that I carried out during MMI.
            </h2>
          </div>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              projects.map(project => (
                <li class="mb-4">
                  <a href="">
                    <Image
                      class="mb-2 border border-slate-300 dark:border-zinc-700 rounded-xl"
                      src={'/'}
                      width={1920}
                      height={1080}
                      aspectRatio={2.0}
                      alt="Project Thumbnail"
                    />
                    <h3 class="text-2xl font-bold truncate">{project.title}</h3>
                    <p
                      class="mt-2 opacity-70 overflow-hidden"
                      style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3;"
                    >
                      {project.body}
                    </p>
                    <button class="inline-flex items-center gap-1 text-sky-600">
                      Read More <IoArrowForward />
                    </button>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
