---
import { Image } from '@astrojs/image/components'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Body from '../components/Body.astro'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Content from '../components/Content.astro'
import { IoArrowBack } from 'react-icons/io5'

interface Props {
  content: {
    heroImage: string
    title: string
    description: string
    targetedCompetences: string[]
  }
}

const {
  content: { heroImage, title, description, targetedCompetences }
} = Astro.props

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <span class="list-disc text-3xl"></span>
  <span class="list-decimal mb-1 underline underline-offset-2 hover:text-sky-500 decoration-sky-500"></span>
  <Body>
    <Header />
    <main class="pt-16">
      <Content classNames={'mt-12'}>
        <a href="/projects" class="inline-flex items-center gap-1 text-sky-600 mb-3">
          <IoArrowBack /> Back
        </a>
        <div class="mb-5">
          <Image
            class="mb-2 border border-slate-300 dark:border-zinc-700 rounded-xl"
            src={heroImage ?? '/placeholder-social.jpg'}
            alt="Project Thumbnail"
            format={'webp'}
            width={1920}
            height={1080}
            aspectRatio={16 / 9}
          />
        </div>
        <h1 class="text-4xl mb-2 font-rubik">{title}</h1>
        <p class="mb-3">{description}</p>
        {targetedCompetences && (
          <div class="flex gap-2">
            {targetedCompetences.map((competence) => (
              <span class="bg-sky-900 text-white p-1 px-3 rounded-full text-sm">{competence}</span>
            ))}
          </div>
        )}
        <hr class="my-3 border-top border-zinc-400" />
        <slot />
      </Content>
    </main>
    <Footer />
  </Body>
</html>
